/* Schriftgrößen */

h2{
  font-size: 2.5rem;
  font-weight: 900;
  color: #2c2929;
}

h3{
  font-size: 1.5rem;
  font-weight: 100;
  color: #2c2929;
}

p{
  font-size: 1.5rem;
}

/* LandingPage */

.landingPage {
  background-image: url('./images/hintergrund.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.headline {
  color: #eadfdf;  
  font-size: 7rem;
  font-weight: 1000;
  position: relative;
  width: 350px;
  top: 30vh;
  left: 30vh;
}

/* Intro */

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.introBox{
  width: 50%;
  font-size: 1.4rem;
}

/* Produkte */

.categories{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.categoryParent{
  display:flex;
  flex-direction: row;
}

.categoryChild{
  text-align: center;
  margin: 5vh;
}

.categoryChild img{
  width: 100%;
  height: auto;
}

/* Benificios */

.benificios{
  margin-top: 5vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.benificios h2{
  text-align: center;
}

.benifit{
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(245, 245, 220);
  border-radius: 5px;
}

/* Comprar */

.comprar{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

.comprar p {
  text-align: center;
  padding: 10px 10px;
}

.shop-button{
  background-color: #29a834;
  padding: 15px 30px;
  font-size: 1.5rem;
  color:white;
  margin: 4px 2px;
  border-radius: 10px;
}

/* Footer */

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #2c2929;
  margin-top: 5vh;
}

.footerBox{
  color: #ddd;
  height: 80px;
  width: 100px;
  margin: 5px 5px;
}

.footerBox:first-of-type {
  width: 180px;
}

#whatsapp{
  font-size: 1rem;
  color:white;
}

/* Navbar */

.owner{
  font-size: 2rem;
  font-weight: 700;
  color: #9a9696;
  position: absolute;
  right: 4vh;
  top: 4vh;
}

.navbar{
  display:flex;
  flex-direction: column;
  margin: 30px;
}

.navbarLinks a{
  padding: 14px 16px;
  color: #2c2929;
  font-size: 1.4rem;
  text-decoration: none; 
}

.navbarLinks a:hover{
  background-color: #ddd;
}

.toggleButton{
  /* Hamburger-Menü standardmäßig ausgeblendet, wenn Screen größer als 600px*/ 
  display: none;
}

/* Flex: Screen < 950 px */

@media (max-width: 1050px) {
  /* Um Richtung der Elemente zu ändern, wird Flex-Direction wird von waagrecht auf senkrecht gestellt*/
  .categoryParent{
    flex-direction: column;
  }
  .headline{
    top: 30vh;
    left: 15vh;
  }
}

/* Flex: Screen < 650 px */

@media (max-width: 650px) {
  /* Hamburger-Menü eingeblendet, wenn Screen kleiner als 600px*/
  .toggleButton { 
      display: block;
      font-size: 2rem;
  }
  /* Menü-Punkte werden ausgeblendet, wenn Screen kleiner als 600px*/
  .navbarLinks{
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  /* Wenn die active-Klasse zu dem Element navbarLinks hinzugefügt wird, ändert sich die Anzeige (display) v. none zu flex. */
  /* Hierdurch wird das DIV-Element sichtbar, das vorher verborgen war.*/
  .navbarLinks.active{
    display: flex;
    margin-top: 20px;
  } 
  .headline {
    font-size: 5rem;
    top: 30vh;
    left: 10vh;
  }
  .benifit{
    width: 320px;
  }
}
