/* Schriftgrößen */

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 1000;
  color: #eadfdf; 
}

h2{
  font-size: 3rem;
  font-weight: 100;
  color: #eadfdf;  
}

h3{
  font-size: 2.5rem;
  font-weight: 900;
  color: #2c2929;
}

p{
  font-size: 1.2rem;
}

p1{
  font-size: 0.7rem;
}

.marcar{
  font-size: 2rem;
}

/* LandingPage */

.landingPage {
  background-image: url('./images/landingPic.jpg');
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.landingPage h1 {
  margin:0px;
  position: relative;
  top: 20vh;
  left: 35vh;
}

.landingPage h2 {
  margin: 0px;
  position: relative;
  top: 20vh;
  left: 120vh;
}

/* Intro */

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.introBox{
  width: 50%;
  font-size: 1.4rem;
}

/* Produkte */

.categories{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.categories p {
  text-align: center;
}

.categoryParent{
  display:flex;
  flex-direction: row;
}

.categoryChild{
  text-align: center;
  margin: 5vh;
  font-size: 1.5rem;
}

.categoryChild img{
  width: 100px;
  height: 100px;
}

.categoryChild p{
  font-size: 1.5rem;
}

/* Benificios */

.benificios{
  margin-top: 5vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.benificios h2{
  text-align: center;
}

.benificios h3 {
  text-align: center;
}

.benifit{
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(245, 245, 220);
  border-radius: 5px;
}

/* Comprar */

.forward{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

.forward p {
  text-align: center;
  padding: 10px 10px;
}

.shop-button{
  background-color: #9a9696;
  padding: 15px 30px;
  font-size: 1.5rem;
  color:white;
  margin: 4px 2px;
  border-radius: 10px;
}

/* Footer */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  background-color: #2c2929;
  padding: 10px;
}

.icon{
  color: white;
}

.footerBox {
  color: white;
}

#footerBox-Contact{
  display:flex;
  flex-direction: row;
}

#footerBox-Contact i{
  font-size: 1.5rem;
  padding: 0px 20px;
}

/* Shop */

.select-button{
  background-color: #9a9696;
  padding: 10px 20px;
  font-size: 1.5rem;
  color:white;
  margin: 4px 2px;
  border-radius: 10px;
}

.select-button:first-of-type{
  background-color: rgb(245, 245, 220);
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #2c2929;
  margin: 4px 2px;
  border-radius: 10px;
}

.productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5vh;
}

.product{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.product img{
  height: 300px;
  width: 300px;
}

/* pedidos */

.pedidos{
  text-align: center;
}

.pedidos p{
  text-align: center;
}

.info-Client{
  display:grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.contact-form{
  width: 70%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: rgb(245, 245, 220);
}

.form-group input{
  width: 90%;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}

.info-Pedido{
  margin: 50px 0px;
  text-align: center;
}

.info-Pedido textarea {
  margin: 0px 0px 50px;
  border-radius: 4px;
  width: 97%;
}

.subtmitDIV{
  display: grid;
  justify-content: center;
}

.pedido-button{
  background-color: #9a9696;
  padding: 15px 30px;
  font-size: 1.5rem;
  color:white;
  margin: 4px 2px;
  border-radius: 10px;
}

/* nosotros */

.nosotros{
  margin: 0px 10px; 
}

.nosotros p {
  text-align: center;
}

.nosotros h3{
  text-align: center;
}

.nosotrosBox{
  display: grid;
  grid-template-columns: 40% 60%;
}

.nosotrosFoto{
  text-align: center; 
  padding: 20px; 
}

.nosotrosFoto img{
  max-width: 100%; 
  height: auto; 
  margin: 0 auto;
}

/* Values */

.values p {
  text-align: center;
}

.values h3{
  text-align: center;
}

.valores{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.valor{
  width: 200px;
  height: 200px;
  background-color: rgb(245, 245, 220);
  border-radius: 4px;
  text-align: center;
  display: grid;
  place-items: center; 
  margin: 10px;
}

/* location */

.location{
  width: 100%;
}

.location h3{
  text-align: center;
}

.location p{
  text-align: center;
}

/* Navbar */

.owner{
  font-size: 2rem;
  font-weight: 700;
  color: #9a9696;
  position: absolute;
  right: 4vh;
  top: 4.5vh;
}

.navbar{
  display:flex;
  flex-direction: column;
  margin: 30px;
}

.navbarLinks a{
  padding: 14px 16px;
  color: #2c2929;
  font-size: 1.4rem;
  text-decoration: none; 
}

.navbarLinks a:hover{
  background-color: #ddd;
}

.toggleButton{
  /* Hamburger-Menü standardmäßig ausgeblendet, wenn Screen größer als 600px*/ 
  display: none;
}

/* Flex: Screen < 1350px px */

@media (max-width: 1350px) {
  /* Um Richtung der Elemente zu ändern, wird Flex-Direction wird von waagrecht auf senkrecht gestellt*/
  .landingPage h1{
    font-size: 4.5rem;
    top: 20vh;
    left: 40vh;
  }
  .landingPage h2{
    font-size: 2.5rem;
    top: 20vh;
    left: 80vh;
  }
  .nosotrosBox{
    display: flex;
    flex-direction: column; 
  }
  .valores{
    flex-direction: column;
    align-items: center;
  }
  .info-Client{
    grid-template-columns: 1fr; 
  }
}

/* Flex: Screen < 1050px px */

@media (max-width: 1050px) {
  /* Um Richtung der Elemente zu ändern, wird Flex-Direction wird von waagrecht auf senkrecht gestellt*/
  .categoryParent{
    flex-direction: column;
  }
  .landingPage h1{
    font-size: 3.5rem;
    top: 20vh;
    left: 20vh;
  }
  .landingPage h2{
    font-size: 2rem;
    top: 20vh;
    left: 60vh;
  }
  footer{
    flex-direction: column;
  }
}

/* Flex: Screen < 850 px */

@media (max-width: 850px) {
  /* Hamburger-Menü eingeblendet, wenn Screen kleiner als 600px*/
  .toggleButton { 
      display: block;
      font-size: 2rem;
  }
  /* Menü-Punkte werden ausgeblendet, wenn Screen kleiner als 600px*/
  .navbarLinks{
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  /* Wenn die active-Klasse zu dem Element navbarLinks hinzugefügt wird, ändert sich die Anzeige (display) v. none zu flex. */
  /* Hierdurch wird das DIV-Element sichtbar, das vorher verborgen war.*/
  .navbarLinks.active{
    display: flex;
    margin-top: 20px;
  }
  .landingPage h1 {
    font-size: 3rem;
    top: 20vh;
    left: 15vh;
  }
  .landingPage h2{
    font-size: 2rem;
    top: 20vh;
    left: 45vh;
  }
  .introBox{
    width: 75%;
    font-size: 1.4rem;
  }
  .benifit{
    width: 320px;
  }
  .productos{
    flex-direction: column;
  }
  .owner{
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  /* Hamburger-Menü eingeblendet, wenn Screen kleiner als 600px*/
  .landingPage h1 {
    font-size: 2.0rem;
    top: 20vh;
    left: 8vh;
  }
  .landingPage h2{
    font-size: 1.5rem;
    top: 20vh;
    left: 25vh;
  }
}